.layout {
  background: white;
  color: #333;
  font-family: sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  background: #3eb5ee;
  color: white;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
}

.header h1 {
  font-size: 2em;
}

.main {
  margin: 1em 2em;
  flex: 1;
  overflow-y: auto;
}

.footer {
  background: #888;
  padding: 0.5em 2em;
  color: #eee;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .main {
    width: 800px;
    margin: 2em auto;
  }
}
