@import "_variables";

button, a.button {
  outline: 0;
  border: thin solid transparentize($black, .8);
  background: transparentize($black, .9);
  border-radius: .25rem;
  padding: .5rem;
  background-color: darken($green, 5%);
  color: $white;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: $green, 5%;
    border-color: transparentize($black, .25);
    transform: translateY(-.0625rem);
    box-shadow: .125rem .125rem .75rem transparentize($black, 0.5);
  }

  &[disabled], &.disabled {
    background-color: lighten($black, 60%);
    color: lighten($black, 80%);
    cursor: not-allowed;
    
    &:hover {
      background-color: lighten($black, 60%);
      border: thin solid transparentize($black, .8);
      transform: none;
      box-shadow: none;
    }
  }

}
