body > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .brand {
    padding: .25rem;
    h1 {
      font-size: 2rem;
    }
  }
  .user {
    padding: .25rem;
  }
}
