@import "includes/_variables";
@import "includes/_header";
@import "includes/_main";
@import "includes/_footer";
@import "includes/_buttons";

body {
  display: flex;
  flex-direction: column;

  header {
    background-color: $headerBg;
    color: $headerTxt;
    height: $headerHeight;
    width: 100vw;
  }
  main {
    flex: 1;
    background-color: $mainBg;
    color: $mainTxt;
    width: 100vw;
    min-height: calc(100vh - #{$headerHeight + $footerHeight});
    overflow: auto;
  } 
  footer {
    background-color: $footerBg;
    color: $footerTxt;
    height: $footerHeight;
    width: 100vw;
  } 
}