.question-photo {
  text-align: center;
}
.question-photo img {
  max-width: 100%;
}

.question h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em 0;
}

@media screen and (min-width: 600px) {
  .question {
    display: flex;
    align-items: center;
  }

  .question-photo {
    flex: 3;
    margin: 1em;
  }

  .question-photo img {
    max-height: 400px;
  }

  .question-content {
    flex: 2;
    margin: 1em;
  }
}

.question-form .answers {
  margin: 1em 0;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}

.question-form .answers label {
  margin: 0.5em 0;
}
.question-form .answers input {
  margin-right: 1em;
}
